@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

.title-pokedex{
 font-family: 'Roboto', sans-serif;
 text-align: center;
 color: white;
 font-weight: bold;
}

.container-home {
 justify-content: center;
 margin: 20px;
 text-align: center;

}