.container-footer{
 display: flex;
 justify-content: space-between;
 text-align: center;
 align-items: center;
 margin-left: 20px;
 margin-right: 20px;
}
.ul-footer{
 display: flex;
 justify-content: space-between;
 text-align: center;
 align-items: center;
 gap: 10px;
}